/* .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
/* General styles for the App container */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Styles for the main content area */
.main-content {
  flex: 1;
}

/* Styles for the footer */
/* footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
} */
/* Add this CSS to your App.css file or any other CSS file that is being imported */
/* Styles for the MessageBox component */
